# ----- Secrets -----
# Your MetaMask private key for the deployer wallet (TESTNET ONLY — never use a mainnet wallet)
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=7ad85c6d7d3af578f92b17e016d37d54e09f1e2f216f0b536ce8d204841da2d3
ARBISCAN_API_KEY=2XE1PBQFGPUHNCPFZFZCI2WFI7EHEQ78N7 
